<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="Template_SheetName" value="Template" />
        <add key="TestCase_SheetName" value="Test_Case_VN" />
        <add key="Viewpoint_SheetName" value="Viewpoint" />
        <add key="TestCaseVN_SheetName" value="Test_Case_VN" />
        <add key="TestCaseJP_SheetName" value="Test_Case_JP" />
        <add key="LayoutOption_Cell" value="5" />
        <add key="PrintOption_Cell" value="D" />
        <add key="TestCase_Cell" value="O" />
    </appSettings>
</configuration>